<div class="listpost">
  <app-post #postOne title="محصول اول" addImage="assets/img/1.jpg" (botclick)="onbotClick($event)"></app-post>
  <app-post #postOne title="محصول اول" addImage="assets/img/1.jpg" (botclick)="onbotClick($event)"></app-post>
  <app-post #postOne title="محصول اول" addImage="assets/img/1.jpg" (botclick)="onbotClick($event)"></app-post>
  <app-post #postOne title="محصول اول" addImage="assets/img/1.jpg" (botclick)="onbotClick($event)"></app-post>

</div>
<hr/>
<section style=" background-color:red;display: flex;flex-direction: row-reverse;justify-content: space-around;">
  <app-other-post></app-other-post>
</section>


